<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzit.springcloud.mapper.MchPayChannelMapper">
    <resultMap id="BaseResultMap" type="com.hzit.springcloud.domain.MchPayChannel">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="mch_id" property="mchId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="bank" property="bank" jdbcType="VARCHAR"/>
        <result column="pay_channel" property="payChannel" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, mch_id, status, bank, pay_channel, create_time, update_time, create_by, update_by
    </sql>

</mapper>